firebase==3.0.1
firebase-admin==5.3.0
google-cloud==0.34.0
google-cloud-bigquery==3.4.1
google-cloud-speech==2.16.2
google-cloud-storage==2.7.0
google-cloud-firestore==2.7.3
google-cloud-texttospeech==2.13.0
keras==2.9.0
pycryptodome==3.10.1
Pyrebase4
python-jwt==2.0.1
requests-toolbelt==0.7.1
sseclient==0.0.27
tflite==2.10.0
matplotlib==3.2.2
opencv-python==4.7.0.68
